@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.body{
	background-image: url(../images/banner.webp);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    color: white;
}

/*  ---------------  NAVBAR  ------------------*/
.navDecoration{
    color: hsl(0, 0%, 47%);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.4s;
}
ul li.navDecoration:hover{
    color:hsl(38, 100%, 65%);
    background-size: 90% 2px;
}

/*  ----------------  FOOTER  -------------------  */

.bgColor{
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
}
.footerP{
    margin: 0rem 1rem;
}

/*  ----------------  ID SELECTORS  -------------------  */

#circle{
    border-radius: 50%;
    border: solid 0.4rem;
    color: hsl(44, 16%, 18%);
}

/*  ----------------  COLORS  -------------------  */

.textYellow{
    color: hsl(56, 100%, 65%);
}