@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*TAG SELECTORS*/

    /*PRINCIPAL*/
html{
	font-size: 62.5%;
    background-image: url(../images/banner.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
*{
    padding: 0rem;
    margin: 0rem; 
}
body{
    width: 99%;
    display: grid;
}

    /*LIST*/
nav{
    text-transform: uppercase;
    margin: auto 2rem;
    padding: auto;
    display: flex;
}
    ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }
        nav ul li a{
            color: hsl(0, 0%, 47%);
            text-decoration: none;
            font-size: 2rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            margin: auto 0.4rem;
            padding: auto 0.4rem;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 50% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size 0.4s;
        }
            nav ul li a:hover{
                color:hsl(56, 100%, 65%);
                background-size: 90% 2px;            
            }
footer{
    color: hsl(148, 100%, 93%);
    margin: 10rem auto 0rem auto;
    padding: 0.5rem auto;
    width: auto;
}
form{    
    color: hsl(148, 100%, 93%);
    margin: auto;
    padding: 0.5rem auto;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
    
    /*GENERAL*/
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.8rem;
}
h3{
    font-size: 3.6rem;
}
h4{
    font-size: 2rem;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 400;
    color: hsl(148, 100%, 93%);
    margin: 1rem auto
}
figcaption{
    font-size: 3rem;
}

/*GROUP SELECTORS*/
figcaption,
h1,
h2,
h3,
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: hsl(148, 100%, 93%)
}
header,
main{
    color: hsl(148, 100%, 93%);
}
main{
    margin: auto;
    padding: auto;
}
header{
    margin: auto;
    padding: auto;
}

/*CLASS SELECTORS*/

    /*COLORS*/
 .textYellow{
     color: rgb(255, 230, 0);
 }   

    /*DIMENTION*/
.bigMargin{
    padding: 1rem 5rem;
    margin: 1rem 10rem;
}
.minMarginPx{
    padding: 5px;
    margin: 5px;
}
.minMargin{
    padding: 1rem;
    margin: 1rem;
}
.lineHeight{
    line-height: 5rem;
}
.divMargin{
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
}
.socialMargin{
    margin: 1rem;
    padding: 1rem 3rem;
}
.domainMargin{
    margin: 1rem;
    padding: 1rem 1.5rem;
}
.dimention{
    width: auto;
    height: auto;
}

    /*SPECIFIC*/
.footerSection{
    display: flex;
    margin: 2rem 2rem 0rem 2rem;
    padding: 2rem 2rem 0rem 2rem;
    justify-content: center;
}
.container{
    padding: 4px;
    display: flex;
    justify-content:space-evenly;
}
.main{
    color: hsl(148, 100%, 93%);
    margin: 7rem 10rem;
    padding: 3rem 5rem;
}
.button:hover{
    cursor: pointer;
}
    /*UBICATION*/
.textCenter{
    text-align: center;
}
.alineItems{
    align-items: center;
}
.spaceEvenly{
    align-content: space-evenly;
}
.displayFlex{ 
    display: flex;
}
.displayFlexWrap{
    flex-wrap: wrap;
}
.alineCenter{
    align-items: center;
    align-content: center;
}
.row{
    flex-direction: row;
}
.colum{
    flex-direction:column;
}
.flexGrow1{
    flex-grow: 1;
}
.flexGrow2{
    flex-grow: 2;
}
.justifyContent{ 
    justify-content: center;
}
.block{
    display: block;
}

    /*IMAGES*/
.backgroundImg{
    background-color:white ;
    border-radius: 50%;
 }
.circle{
    border-radius: 15rem;
    border: solid 0.4rem;
    color: hsl(333, 47%, 4%);
}

    /*HEIGHT & WIDTH*/
.h50{
    height: 50%;
}
.h300{
    height: 300px;
}
.w100{
    width: 100%;
}
.w50{
    width: 50%;
}
.w45{
    width: 45%;
}
.w35{
    width: 35%;
}
.w25{
    width: 25%;
}
.w15{
    width: 15%;
}


/* -----------------------------  INDEX  ----------------------------------------*/
.index__body{
    grid-template-columns: 1fr;
    grid-template-rows: 12vh 210vh 220vh 30vh;
    grid-template-areas: 
    "zoneA1"
    "zoneB1"
    "zoneC1"
    "zoneD1";
}
.zoneA1{
    grid-area: zoneA1;
}
.zoneB1{
    grid-area: zoneB1;
}
.zoneC1{
    grid-area: zoneC1;
}
.zoneD1{
    grid-area: zoneD1;
}
.index__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.index__main{
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 320px){
    .index__body{
    grid-template-rows: 12vh 170vh 220vh 30vh;
    }
}
@media only screen and (min-width: 360px){
    .index__body{
    grid-template-rows: 12vh 150vh 220vh 30vh;
    }
}
@media only screen and (min-width: 420px){
    .index__body{
    grid-template-rows: 12vh 130vh 220vh 30vh;
    }
    section h1{
        font-size: 4rem;
    }
    header.zoneB1 section img{
        width: 46%;
    }
}
@media only screen and (min-width: 480px){
    .index__body{
    grid-template-rows: 12vh 105vh 190vh 30vh;
    }
    section h1{
        font-size: 3.2rem;
    }
    header.zoneB1 section img{
        width: 34%;
    }
    main h3,
    footer h3{
        font-size: 3rem;
    }
    main p{
        font-size: 2rem;
    }
    footer h4{
        font-size: 1.8rem;
    }
}
@media only screen and (min-width: 600px){
    .index__body{
    grid-template-rows: 12vh 80vh 160vh 30vh;
    }
    section h1{
        font-size: 3rem;
    }
    header.zoneB1 section img{
        width: 30%;
    }
    main h3,
    footer h3{
        font-size: 2.7rem;
    }
    main p{
        font-size: 1.8rem;
    }
    footer h4{
        font-size: 1.4rem;
    }
    nav.zoneA1 ul li a{
        font-size: 1.9rem;
    }
}
@media only screen and (min-width: 768px){
    .index__body{
    grid-template-rows: 12vh 85vh 160vh 30vh;
    }
    .index__header{
        flex-direction: row;
    }
    .index__main{
        flex-direction: row;
    }
    header.zoneB1 section{
        width: 49%;
    }
    header.zoneB1 section img{
        width: 50%;
    }
    main.zonec1 section{
        width: 49%;
    }
}
@media only screen and (min-width: 1024px){
    section h1{
        font-size: 4rem;
    }
}


/* -----------------------------  PORTFOLIO  -------------------------------------*/
.portfolio__body{
    width: 99%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 20vh 320vh 30vh;
    grid-template-areas: 
    "zoneA2"
    "zoneB2"
    "zoneC2"
    "zoneD2";
}
.zoneA2{
    grid-area: zoneA2;
}
.zoneB2{
    grid-area: zoneB2;
}
.zoneC2{
    grid-area: zoneC2;
}
.zoneD2{
    grid-area: zoneD2;
}
.portfolio__main{
    display: flex;
    flex-direction: column;
}
.portfolio__main--figure{
    align-items: center;
    text-align: center;
}
h1.zoneB2{
    text-align: center;
 }
@media only screen and (min-width: 600px){
    .portfolio__body{
        grid-template-rows: 15vh 20vh 170vh 30vh;
    }
    .portfolio__main{
        flex-direction: row;
    }
    figcaption.minMargin{
        font-size: 2rem;
    }
    figure div p{
        font-size: 1.7rem;
    }
}
@media only screen and (min-width: 1024px){
    .portfolio__body{
        grid-template-rows: 15vh 20vh 90vh 30vh;
    }
    .portfolio__main--section{
        display: flex;
        flex-direction: row;
    }
}


/* ------------------------------  SKILLSET  --------------------------------------*/
.skillset__body{
    width: 99%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12vh 100vh 30vh;
    grid-template-areas: 
    "zoneA3"
    "zoneB3"
    "zoneC3"
}
.zoneA3{
    grid-area: zoneA3;
}
.zoneB3{
    grid-area: zoneB3;
}
.zoneC3{
    grid-area: zoneC3;
}
main.zoneB3 h1{
    margin: auto 3rem;
    padding: auto;
    font-size: 3.8rem;
    text-align: center;
}
main.zoneB3 h2{
    margin: auto 5rem;
    padding: auto;
    font-size: 2.6rem;
}
main.zoneB3 article figure figcaption{
    margin: auto;
    padding: auto;
    font-size: 1.8rem;
}


/* ------------------------------  SERVICE  --------------------------------------*/
.service__body{
    width: 99%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12vh 110vh 30vh;
    grid-template-areas: 
    "zone4A"
    "zone4B"
    "zone4C";
}
.zone4A{
    grid-area: zone4A;
}
.zone4B{
    grid-area: zone4B;
}
.zone4C{
    grid-area: zone4C;
}
main.zone4B h1{
    text-align: center;
}
main.zone4B section p{
    margin: auto 2rem;
}
@media only screen and (min-width:600px){
    main.zone4B section p{
        margin: auto 5rem;
    }
    main.zone4B h2{
        margin: auto 4rem;
    }
}
@media only screen and (min-width:1024px){
    main.zone4B section p{
        margin: auto 0rem;
    }
    main.zone4B h2{
        margin: auto 2rem;
    }
}


/* ------------------------------  CONTACT  --------------------------------------*/
.contact__body{
    width: 99%;
    display: grid;
    grid-template-columns: repeat(3fr);
    grid-template-rows: 12vh 12vh 150vh 80vh 30vh;
    grid-template-areas: 
    "zone5A zone5A zone5A"
    "zone5B zone5B zone5B"
    "zone5C zone5C zone5C"
    "zone5D zone5D zone5D"
    "zone5E zone5E zone5E";
}
.zone5A{
    grid-area: zone5A;
}
.zone5B{
    grid-area: zone5B;
}
.zone5C{
    grid-area: zone5C;
}
.zone5D{
    grid-area: zone5D;
}
.zone5E{
    grid-area: zone5E;
}
.contact__form{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.contact__form--fieldset{
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width:360px){
    .contact__body{
        grid-template-rows: 12vh 10vh 115vh 80vh 30vh;
    }
    header.zone5B h2{
        font-size: 3.8rem;
        margin: 0rem;
        padding: 0rem;
    }
    body.contact__body header.headerMargin{
        padding: 0.5rem 10rem;
        margin: 1rem 5rem;
    }
    form{
        margin: 2.5rem auto;
    }
}
@media only screen and (min-width:360px){
    .contact__body{
        grid-template-rows: 12vh 10vh 115vh 80vh 30vh;
    }
    header.zone5B h2{
        font-size: 3.8rem;
        margin: 0rem;
        padding: 0rem;
    }
    body.contact__body header.headerMargin{
        padding: 0.5rem 10rem;
        margin: 1rem 5rem;
    }
    form{
        margin: 2.5rem auto;
    }
}
@media only screen and (min-width:768px){
    .contact__body{
        grid-template-rows: 12vh 10vh 80vh 80vh 30vh;
    }
    .contact__form{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .contact__form--fieldset{
        width: 43%;
    }
    .contact__form--div{
        width: 60%;
    }
}
@media only screen and (min-width:912px){
    .contact__body{
        grid-template-rows: 12vh 10vh 160vh 30vh;
        grid-template-areas: 
        "zone5A zone5A zone5A"
        "zone5B zone5B zone5B"
        "zone5C zone5C zone5D"
        "zone5E zone5E zone5E";
    }
    .contact__form--fieldset{
        width: 42%;
    }
    .contact__form{
        justify-content: end;
    }
}